body {
    margin: 0;
    background: skyblue;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 20px;
}

canvas {
    background: white;
    border: 2px solid black;
    margin-top: 20px;
}
